.header {
    background-color: #333; /* Color de fondo del encabezado */
    color: white; /* Color texto */
    padding: 10px 20px; /* Espaciado de adentro */
    display: flex; /* Mostrar en la línea */
    justify-content: space-between; /* Alinea a las esquinas */
    align-items: center; /* Alinear verticalmente del centro */
  }
  
  .header-title {
    margin: 0; /* Elimina el margen superior e inferior */
  }
  
  .header-buttons {
    display: flex; /* Mostrar en línea */
  }
  
  .button {
    margin-left: 10px; /* Margen izquierdo de botones */
    padding: 8px 12px; /* Espaciado interno */
    border: none; /* bordes */
    border-radius: 5px; /* Borde redondeado */
    background-color: #376bd1; /* color del botón */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  }
  
